Repository Code21228/Next.js-MUI: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore(deps-dev): Bump msw from 0.20.5 to 0.24.2
  package-lock.json
  package.json
Due: prettier --write

ci(github): Disable recording of E2E tests
  .github/workflows/e2e-test.yml
Due: none

Report code coverage (#616)
  .github/workflows/report_coverage.yml
  .github/workflows/unit-test.yml
Due: none

chore: Revert "Report code coverage (#616)"
  .github/workflows/report_coverage.yml
  .github/workflows/unit-test.yml
Due: none

ci(github): Improve unit test workflow
  .github/workflows/unit-test.yml
Due: none

test(todo): Add assertion to todo component test
  cypress/component/todo.test.tsx
Due: prettier --write, eslint --fix

ci(github): Improve E2E test workflow
  .github/workflows/e2e-test.yml
Due: none

ci(github): Run E2E tests for pull request
  .github/workflows/e2e-test.yml
Due: none

ci(github): Split run unit tests and publish coverage
  .github/workflows/unit-test.yml
Due: none

fix: Amend typing error
  libs/middleware/validate-body.ts
Due: prettier --write, eslint --fix

chore(deps): Bump yup from 0.29.3 to 0.32.8
  package-lock.json
  package.json
Due: prettier --write

chore(deps): [Security] Bump node-notifier from 8.0.0 to 8.0.1
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump @types/node from 14.14.14 to 14.14.16
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump msw from 0.24.2 to 0.24.3
  package-lock.json
Due: prettier --write

chore(deps): Bump swr from 0.3.10 to 0.3.11
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump cypress from 6.1.0 to 6.2.0
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump start-server-and-test from 1.11.6 to 1.11.7
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump @typescript-eslint/parser from 4.10.0 to 4.11.0
  package-lock.json
Due: prettier --write

chore(deps): Bump @xstate/react from 1.2.0 to 1.2.2
  package-lock.json
Due: prettier --write

chore(deps): Bump next from 10.0.3 to 10.0.4
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump @typescript-eslint/eslint-plugin
  package-lock.json
Due: prettier --write

chore(deps): Bump xstate from 4.15.1 to 4.15.2
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump @cypress/code-coverage from 3.3.1 to 3.8.8
  package-lock.json
  package.json
Due: prettier --write

docs(readme): Show people who give a star o fork this repository
  README.md
Due: prettier --write

chore(deps-dev): Bump ts-loader from 8.0.12 to 8.0.13
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump @typescript-eslint/parser from 4.11.0 to 4.11.1
  package-lock.json
Due: prettier --write

chore(deps): Bump react-hook-form from 6.13.1 to 6.14.0
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump eslint-plugin-react from 7.21.5 to 7.22.0
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump @types/node from 14.14.16 to 14.14.19
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump eslint from 7.16.0 to 7.17.0
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump @testing-library/jest-dom from 5.11.6 to 5.11.8
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump msw from 0.24.3 to 0.24.4
  package-lock.json
Due: prettier --write

chore(deps): Bump xstate from 4.15.2 to 4.15.4
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump cypress from 6.2.0 to 6.2.1
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump @testing-library/dom from 7.29.0 to 7.29.2
  package-lock.json
Due: prettier --write

chore(deps): Bump react-hook-form from 6.14.0 to 6.14.1
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump @types/jest from 26.0.19 to 26.0.20
  package-lock.json
Due: prettier --write

chore(deps): Bump mui-datatables from 3.7.3 to 3.7.4
  package-lock.json
Due: prettier --write

Path conditions:
  prettier --write: (any of: *.{js,ts,tsx}) or (any of: *.{json,md,css})
  eslint --fix: any of: *.{js,ts,tsx}
