Repository Code21228/Next.js-MUI: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{json,md,css}": ["prettier --write"]
}

chore(cypress): Enable experimental fetch polyfill
  cypress.json
  cypress/support/index.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

fix(cypress): Change login interface
  cypress/support/commands.ts
Due: prettier --write, eslint --fix

test(todo): Add E2E tests for todos API endpoints
  cypress/integration/api/todos.spec.ts
Due: prettier --write, eslint --fix

test(e2e): Login form component
  cypress/component/login-form.test.tsx
  utils/factories.ts
Due: prettier --write, eslint --fix

chore(cypress): Setup Typescript aliases
  cypress/integration/login.spec.ts
  cypress/integration/register.spec.ts
  cypress/plugins/index.js
  cypress/tsconfig.json
  machines/register-test-machine.ts
Due: prettier --write, eslint --fix

test(e2e): Register form component
  cypress/component/register-form.test.tsx
  utils/factories.ts
Due: prettier --write, eslint --fix

fix(e2e): Change assertion type from `be` to `equal`
  cypress/integration/register.spec.ts
Due: prettier --write, eslint --fix

ci(github): Run component test with Cypress
  .github/workflows/e2e-test.yml
Due: none

chore(deps): Bump swr from 0.3.1 to 0.3.2
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump @types/jest from 26.0.10 to 26.0.13
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump babel-plugin-typescript-to-proptypes
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump @testing-library/dom from 7.23.0 to 7.24.1
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump eslint-plugin-react from 7.20.0 to 7.20.6
  package-lock.json
Due: prettier --write

chore(deps): Bump react-hook-form from 6.7.0 to 6.7.2
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump @types/node from 14.6.2 to 14.6.4
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump lint-staged from 10.2.13 to 10.3.0
  package-lock.json
Due: prettier --write

chore(deps): Bump next from 9.4.4 to 9.5.3
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump eslint from 7.3.1 to 7.8.1
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump @typescript-eslint/eslint-plugin
  package-lock.json
  package.json
Due: prettier --write

ci(github): Ignore dependabot's pull request
  .github/workflows/e2e-test.yml
Due: none

chore(deps-dev): Bump eslint-plugin-jest from 23.17.1 to 24.0.0
  package-lock.json
  package.json
Due: prettier --write

ci(github): Restrict to only master, wip and feat branches
  .github/workflows/e2e-test.yml
Due: none

chore(deps-dev): Bump @testing-library/react from 10.4.9 to 11.0.2
  package-lock.json
  package.json
Due: prettier --write

chore(deps-dev): Bump @testing-library/cypress from 6.0.1 to 7.0.0
  package-lock.json
  package.json
Due: prettier --write

ci(github): Record test results on Cypress Dashboard
  .github/workflows/e2e-test.yml
Due: none

docs(README): Add bage to show the number of visit
  README.md
Due: prettier --write

docs(readme): Add Cypress badge
  README.md
Due: prettier --write

fix(eslint): Disable rule jest/valid-title for one line
  __tests__/pages/login.spec.tsx
Due: prettier --write, eslint --fix

chore(package): Update dependencies
  package-lock.json
  package.json
Due: prettier --write

ci(github): Change github action that runs eslint
  .github/workflows/unit-test.yml
Due: none

chore(eslint): Change ESlint config
  .eslintrc.json
Due: prettier --write

fix: Remove interface just export the class
  types/error.ts
Due: prettier --write, eslint --fix

test(todo): Add unit test for add form
  __tests__/components/todo/add-todo.spec.tsx
Due: prettier --write, eslint --fix

style(auth): Rename component name inside pages
  pages/login.tsx
  pages/register.tsx
Due: prettier --write, eslint --fix

test(todo): Add unit test for todo item
  __tests__/components/todo/todo-item.spec.tsx
  utils/factories.ts
Due: prettier --write, eslint --fix

test(todo): Add unit test for filter todo
  __tests__/components/todo/filter-todo.spec.tsx
Due: prettier --write, eslint --fix

test(todo): Add unit test for list todo
  __tests__/components/todo/list-todo.spec.tsx
Due: prettier --write, eslint --fix
