Repository Code21228/Next.js-MUI: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{json,md,css}": ["prettier --write"]
}

test(api): Update tests to handle rejections
  __tests__/libs/middleware/with-authentication.spec.ts
  __tests__/pages/api/auth/login.spec.ts
  __tests__/pages/api/auth/logout.spec.ts
  __tests__/pages/api/auth/register.spec.ts
Due: prettier --write, eslint --fix

style(todo): Improve readability
  pages/api/todos/[id].ts
Due: prettier --write, eslint --fix

style(api): Rewrite middleware to accept one argument per call
  libs/middleware/validate-body.ts
  libs/middleware/validate-method.ts
  pages/api/auth/login.ts
  pages/api/auth/logout.ts
  pages/api/auth/me.ts
  pages/api/auth/register.ts
  pages/api/todos/[id].ts
  pages/api/todos/index.ts
  pages/api/users/index.ts
Due: prettier --write, eslint --fix

refactor(api): Change how to handle internal errors
  libs/middleware/catch-errors.ts
  libs/middleware/index.ts
  libs/middleware/validate-body.ts
  libs/middleware/validate-method.ts
  libs/middleware/with-authentication.ts
  libs/middleware/with-db.ts
  libs/request.ts
  pages/api/auth/login.ts
  pages/api/auth/logout.ts
  pages/api/auth/me.ts
  pages/api/auth/register.ts
  pages/api/todos/[id].ts
  pages/api/todos/index.ts
  pages/api/users/index.ts
  types/error.ts
Due: prettier --write, eslint --fix

chore(cypress): Add custom command to validate reponse with JSON Shema
  cypress/schemas/apiError.schema.ts
  cypress/schemas/index.ts
  cypress/schemas/todo.schema.ts
  cypress/schemas/user.schema.ts
  cypress/support/commands.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

fix(todo): Return updatedAt as Date String (ISO 8601)
  hooks/use-todo.ts
  pages/api/todos/[id].ts
Due: prettier --write, eslint --fix

test(e2e): Use JSON Schema to validate the API responses
  cypress/integration/api/login.spec.ts
  cypress/integration/api/register.spec.ts
  cypress/integration/api/todos.spec.ts
  cypress/integration/api/users.spec.ts
Due: prettier --write, eslint --fix

chore(package): Update dependencies
  package-lock.json
  package.json
Due: prettier --write

chore(deps-dev): Bump typescript from 4.0.3 to 4.0.5
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump @types/mui-datatables from 3.4.2 to 3.4.3
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump @types/node from 14.14.3 to 14.14.6
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump @types/react-dom from 16.9.8 to 16.9.9
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump ts-jest from 26.4.2 to 26.4.3
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump @types/faker from 5.1.3 to 5.1.4
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump eslint from 7.12.0 to 7.12.1
  package-lock.json
Due: prettier --write

chore(deps): Bump swr from 0.3.6 to 0.3.8
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump @types/react from 16.9.53 to 16.9.55
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump @cypress/webpack-preprocessor from 5.4.8 to 5.4.10
  package-lock.json
Due: prettier --write

chore(deps): Bump react-hook-form from 6.10.0 to 6.10.1
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump @typescript-eslint/eslint-plugin
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump @types/jest from 26.0.14 to 26.0.15
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump @typescript-eslint/parser from 4.4.1 to 4.5.0
  package-lock.json
Due: prettier --write

chore(package): Update dependencies
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump eslint-plugin-react from 7.21.4 to 7.21.5
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump jest from 26.5.3 to 26.6.1
  package-lock.json
Due: prettier --write

ci(github): Run Cypress test against Vercel preview URL
  .github/workflows/deployment.yml
  .github/workflows/e2e-test.yml
Due: none

ci(github): Conditionally tag Cypress tests
  .github/workflows/deployment.yml
Due: none
