Repository Code21228/Next.js-MUI: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix, git add -u

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": ["prettier --write", "eslint --fix", "git add -u"],
  "*.{json,md,css}": ["prettier --write", "git add -u"]
}

feat(login): Add login page
  __tests__/components/form/login.spec.tsx
  components/copyright.tsx
  components/forms/login/index.tsx
  components/forms/login/styles.ts
  pages/login/index.tsx
  pages/login/styles.ts
Due: prettier --write, eslint --fix, git add -u

feat(authentication): Use context API
  __tests__/pages/login.spec.tsx
  hooks/auth-context.tsx
  hooks/user-context.tsx
  pages/_app.tsx
  pages/login/index.tsx
Due: prettier --write, eslint --fix, git add -u

feat(api): Add login endpoint
  __mocks__/crypto.js
  __tests__/libs/encrypt.spec.ts
  __tests__/libs/validate.spec.ts
  __tests__/pages/api/auth/login.spec.ts
  libs/encrypt.ts
  libs/validate.ts
  next-env.d.ts
  next.config.js
  package-lock.json
  package.json
  pages/api/auth/login.ts
Due: prettier --write, eslint --fix, git add -u

feat(authentication): Login user against API
  __tests__/pages/login.spec.tsx
  __tests__/services/login.spec.ts
  components/forms/login/index.tsx
  libs/request.ts
  pages/login/index.tsx
  pages/login/styles.ts
  services/login.ts
Due: prettier --write, eslint --fix, git add -u

feat(authentication): Add HOC for authentication
  __tests__/components/hoc/with-authentication.spec.tsx
  components/hoc/with-authentication.tsx
  pages/_app.tsx
  pages/index.tsx
Due: prettier --write, eslint --fix, git add -u

feat(authentication): Show user info
  __tests__/pages/index.spec.tsx
  components/cards/user/index.tsx
  components/cards/user/styles.ts
  components/header.tsx
  components/layout.tsx
  pages/index.tsx
Due: prettier --write, eslint --fix, git add -u

test(e2e): Add end-to-end tests
  .eslintrc.json
  __tests__/.eslintrc.json
  babel.config.js
  cypress.json
  cypress/.eslintrc.json
  cypress/.gitignore
  cypress/README.md
  cypress/fixtures/.gitkeep
  cypress/integration/login.spec.ts
  cypress/integration/main.spec.ts
  cypress/plugins/index.js
  cypress/support/index.js
  cypress/tsconfig.json
  jest.config.js
  package-lock.json
  package.json
  pages/api/__coverage__.ts
  tsconfig.json
Due: prettier --write, eslint --fix, git add -u

chore(vscode): Add editor settings
  .vscode/launch.json
  .vscode/settings.json
Due: prettier --write, git add -u

fix(build): Move styles inside page
  pages/login.tsx
  pages/login/styles.ts
Due: prettier --write, eslint --fix, git add -u

ci(github): Setup GitHub workflows
  .github/workflows/e2e-test.yml
  .github/workflows/unit-test.yml
Due: none

docs: Add README.md
  README.md
Due: prettier --write, git add -u

feat(register): Add register form
  __tests__/components/form/register.spec.tsx
  components/forms/register/index.tsx
  components/forms/register/styles.ts
Due: prettier --write, eslint --fix, git add -u

refactor(login): Refactor login endpoint
  __tests__/pages/api/auth/login.spec.ts
  libs/request.ts
  libs/validate.ts
  pages/api/auth/login.ts
Due: prettier --write, eslint --fix, git add -u

feat(register): Add register service
  __tests__/services/register.spec.ts
  hooks/auth-context.tsx
  services/register.ts
Due: prettier --write, eslint --fix, git add -u

feat(register): Add register endpoint
  __tests__/libs/validate.spec.ts
  __tests__/pages/api/auth/register.spec.ts
  libs/validate.ts
  middlewares/with-db.ts
  package-lock.json
  package.json
  pages/api/auth/register.ts
Due: prettier --write, eslint --fix, git add -u

feat(register): Add register page
  __tests__/pages/register.spec.tsx
  pages/register.tsx
Due: prettier --write, eslint --fix, git add -u

test(register): End-to-end for register page
  cypress/integration/register.spec.ts
Due: prettier --write, eslint --fix, git add -u

chore: Install wait-until cypress plugin
  cypress/support/index.js
  cypress/tsconfig.json
  package-lock.json
  package.json
Due: prettier --write, eslint --fix, git add -u

test(login): Update end-to-end tests
  cypress/integration/login.spec.ts
Due: prettier --write, eslint --fix, git add -u

chore: Update jest-fetch-mock setup
  jest.setup.ts
  next-env.d.ts
Due: prettier --write, eslint --fix, git add -u

ci(github): Update unit tests workflow
  .github/workflows/unit-test.yml
Due: none

chore(package): update lockfile package-lock.json
  package-lock.json
Due: prettier --write, git add -u

docs(readme): add Greenkeeper badge
  README.md
Due: prettier --write, git add -u

chore(package): update dependencies
  package.json
Due: prettier --write, git add -u

chore(next): Remove @zeit/next-css after upgrade next.js
  next.config.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix, git add -u

docs(readme): Add more badges
  README.md
Due: prettier --write, git add -u

chore(package): update @testing-library/jest-dom to version 5.0.0
  package.json
Due: prettier --write, git add -u

chore(jest): Update test setup file
  jest.setup.ts
Due: prettier --write, eslint --fix, git add -u

ci(github): Use Ubuntu 16.04 instead of 18.04
  .github/workflows/e2e-test.yml
Due: none

ci(github): Run eslint
  .github/workflows/unit-test.yml
Due: none

ci(github): Run typescript compiler
  .github/workflows/unit-test.yml
Due: none

chore(package): Run linters in parallel
  package-lock.json
  package.json
Due: prettier --write, git add -u

ci(github): Record E2E tests
  .github/workflows/e2e-test.yml
  cypress.json
Due: prettier --write, git add -u

test: Fix test
  __tests__/components/hoc/with-authentication.spec.tsx
Due: prettier --write, eslint --fix, git add -u

ci(github): Skip github actions based on commit message
  .github/workflows/e2e-test.yml
  .github/workflows/unit-test.yml
Due: none

docs(readme): Add CodeFactor badge
  README.md
Due: prettier --write, git add -u

chore(deps-dev): Bump lint-staged from 9.5.0 to 10.0.2
  package-lock.json
  package.json
Due: prettier --write, git add -u

chore(deps-dev): Bump @types/react from 16.9.18 to 16.9.19
  package-lock.json
  package.json
Due: prettier --write, git add -u

chore(deps-dev): Bump @types/jsonwebtoken from 8.3.6 to 8.3.7
  package-lock.json
  package.json
Due: prettier --write, git add -u
