Repository Code21228/Next.js-MUI: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{json,md,css}": ["prettier --write"]
}

chore(deps-dev): Bump @typescript-eslint/eslint-plugin
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump @testing-library/user-event from 12.0.11 to 12.1.2
  package-lock.json
Due: prettier --write

chore(deps): Bump swr from 0.3.0 to 0.3.1
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump node-mocks-http from 1.8.1 to 1.9.0
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump jest from 26.1.0 to 26.4.2
  package-lock.json
Due: prettier --write

chore(deps): Bump xstate from 4.10.0 to 4.12.0
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump @typescript-eslint/parser from 3.4.0 to 3.9.1
  package-lock.json
Due: prettier --write

chore(deps): Bump luxon from 1.24.1 to 1.25.0
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump ts-node from 8.10.2 to 9.0.0
  package-lock.json
  package.json
Due: prettier --write

chore(cypress): Install api command
  cypress/support/index.js
  cypress/tsconfig.json
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

test(auth): End-to-end for register API endpoint
  cypress/integration/api/register.spec.ts
Due: prettier --write, eslint --fix

test(auth): End-to-end for login API endpoint
  cypress/integration/api/login.spec.ts
Due: prettier --write, eslint --fix

test(auth): Amend Auth API endpoint
  cypress/integration/api/login.spec.ts
  cypress/integration/api/register.spec.ts
Due: prettier --write, eslint --fix

chore(db): Save in temp directory
  libs/db/index.ts
Due: prettier --write, eslint --fix

chore(deps): [Security] Bump lodash from 4.17.15 to 4.17.19
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump @types/node from 14.6.0 to 14.6.2
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump typescript from 3.9.5 to 3.9.7
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump prettier from 2.0.5 to 2.1.1
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump @types/react from 16.9.41 to 16.9.48
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump @cypress/webpack-preprocessor from 5.4.4 to 5.4.5
  package-lock.json
Due: prettier --write

chore(deps): Bump xstate from 4.12.0 to 4.13.0
  package-lock.json
Due: prettier --write

chore(deps): Bump @date-io/luxon from 2.6.0 to 2.9.0
  package-lock.json
Due: prettier --write

chore(deps): Bump react-hook-form from 6.5.0 to 6.7.0
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump ts-loader from 8.0.2 to 8.0.3
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump @testing-library/dom from 7.22.2 to 7.23.0
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump lint-staged from 10.2.11 to 10.2.13
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump ts-jest from 26.1.1 to 26.3.0
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump @testing-library/user-event from 12.1.2 to 12.1.3
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump @typescript-eslint/parser from 3.9.1 to 3.10.1
  package-lock.json
Due: prettier --write

chore(deps): Bump faker from 4.1.0 to 5.1.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps): Bump http-status-codes from 1.4.0 to 2.1.2
  package-lock.json
  package.json
Due: prettier --write

ci(github): Check code coverage on pull request
  .github/workflows/unit-test.yml
Due: none

ci(github): Run cypress with chrome and firefox
  .github/workflows/e2e-test.yml
Due: none

docs(readme): Add CodeClimate badges
  README.md
Due: prettier --write

test(auth): Model-based test the register form
  cypress/integration/register.spec.ts
  machines/register-test-machine.ts
Due: prettier --write, eslint --fix

test(auth): Change register page suite case
  cypress/integration/register.spec.ts
  machines/register-test-machine.ts
Due: prettier --write, eslint --fix

test(e2e): Use a task to create JWT
  cypress/integration/api/todos.spec.ts
  cypress/integration/api/users.spec.ts
  cypress/plugins/index.js
  cypress/plugins/jwt-task.ts
Due: prettier --write, eslint --fix

test(users): Add E2E tests for users API endpoint
  cypress/integration/api/users.spec.ts
Due: prettier --write, eslint --fix

chore(cypress): Setup React component test
  cypress-unit.json
  cypress/plugins/index.js
  cypress/support/component-test.js
  cypress/tsconfig.json
  package-lock.json
  package.json
Due: prettier --write, eslint --fix
