Repository Code21228/Next.js-MUI: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

chore(deps-dev): Bump cypress-terminal-report from 2.2.0 to 2.3.0
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump cypress-terminal-report from 2.3.0 to 2.3.1
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump typescript from 4.0.5 to 4.1.2
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump @bahmutov/cy-api from 1.4.2 to 1.4.3
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump lint-staged from 10.5.1 to 10.5.2
  package-lock.json
Due: prettier --write

chore(deps): Bump swr from 0.3.8 to 0.3.9
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump @testing-library/cypress from 7.0.1 to 7.0.2
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump @testing-library/react from 11.1.2 to 11.2.2
  package-lock.json
Due: prettier --write

chore(deps): Bump xstate from 4.14.0 to 4.14.1
  package-lock.json
Due: prettier --write

chore(deps): Bump react-hook-form from 6.11.4 to 6.12.1
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump eslint from 7.13.0 to 7.14.0
  package-lock.json
Due: prettier --write

chore(deps): Bump @material-ui/core from 4.11.0 to 4.11.1
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump prettier from 2.2.0 to 2.2.1
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump @types/node from 14.14.9 to 14.14.10
  package-lock.json
Due: prettier --write

chore(deps): Bump @material-ui/core from 4.11.1 to 4.11.2
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump eslint from 7.14.0 to 7.15.0
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump @types/jest from 26.0.15 to 26.0.16
  package-lock.json
Due: prettier --write

chore(deps): Bump @material-ui/lab from 4.0.0-alpha.56 to 4.0.0-alpha.57
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump ts-node from 9.0.0 to 9.1.0
  package-lock.json
Due: prettier --write

chore(deps): Bump @material-ui/icons from 4.9.1 to 4.11.2
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump @types/faker from 5.1.4 to 5.1.5
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump lint-staged from 10.5.2 to 10.5.3
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump @cypress/webpack-preprocessor from 5.4.11 to 5.5.0
  package-lock.json
Due: prettier --write

chore(deps): Bump react-hook-form from 6.12.1 to 6.12.2
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump @types/react-dom from 16.9.9 to 17.0.0
  package-lock.json
  package.json
Due: prettier --write

chore(deps-dev): Bump @types/react from 16.9.56 to 17.0.0
  package-lock.json
  package.json
Due: prettier --write

ci(github): Avoid to download Cypress when only run unit tests
  .github/workflows/unit-test.yml
Due: none

ci(github): Set JWT_ISSUER from secret
  .github/workflows/deployment.yml
Due: none

fix: Provide a mocked router to avoid error message
  cypress/component/login-form.test.tsx
  cypress/component/register-form.test.tsx
Due: prettier --write, eslint --fix

test(unit): Fix errors due the RouterContext
  __tests__/components/form/login.spec.tsx
  __tests__/components/form/register.spec.tsx
  __tests__/pages/login.spec.tsx
  __tests__/pages/register.spec.tsx
Due: prettier --write, eslint --fix

refactor(api): Do not use preset query
  libs/db/index.ts
  pages/api/auth/login.ts
  pages/api/auth/register.ts
  pages/api/todos/index.ts
Due: prettier --write, eslint --fix

chore(package): Update dependencies
  package-lock.json
  package.json
Due: prettier --write

fix: Update import
  components/todo/add-todo.tsx
Due: prettier --write, eslint --fix

chore(vscode): Set JSON Schema for Github Workflow file
  .vscode/settings.json
Due: prettier --write

chore(deps): [Security] Bump ini from 1.3.5 to 1.3.7
  package-lock.json
Due: prettier --write

test(e2e): Fix deprecation of route intercepts
  cypress-unit.json
  cypress.json
  cypress/component/todo.test.tsx
  cypress/integration/login.spec.ts
  cypress/integration/main.spec.ts
  cypress/integration/register.spec.ts
  cypress/integration/todos.spec.ts
Due: prettier --write, eslint --fix

refactor(todo): Split complexity of reducer
  __tests__/hooks/use-todo.spec.ts
  hooks/use-todo.ts
Due: prettier --write, eslint --fix

chore: Prefer interfaces over intersections
  machines/login-test-machine.ts
  machines/register-test-machine.ts
  types/todo.ts
Due: prettier --write, eslint --fix

chore(package): Upgrade dependencies
  package-lock.json
  package.json
Due: prettier --write

fix: Amend typing error
  __tests__/libs/middleware/with-authentication.spec.ts
Due: prettier --write, eslint --fix

Path conditions:
  prettier --write: (any of: *.{js,ts,tsx}) or (any of: *.{json,md,css})
  eslint --fix: any of: *.{js,ts,tsx}
