Repository Code21228/Next.js-MUI: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint --fix

.lintstagedrc.json:

{
  "*.{js,ts,tsx}": ["prettier --write", "eslint --fix"],
  "*.{json,md,css}": ["prettier --write"]
}

chore(deps-dev): Bump @testing-library/dom from 7.22.0 to 7.22.2
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump @cypress/webpack-preprocessor from 5.4.2 to 5.4.4
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump @testing-library/jest-dom from 5.11.2 to 5.11.3
  package-lock.json
Due: prettier --write

chore(deps): Bump react-hook-form from 6.3.1 to 6.4.0
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump @types/jest from 26.0.9 to 26.0.10
  package-lock.json
Due: prettier --write

chore(deps): Bump next from 9.5.1 to 9.5.2
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump eslint from 7.6.0 to 7.7.0
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump @types/mui-datatables from 3.1.1 to 3.2.0
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump eslint-plugin-react from 7.20.5 to 7.20.6
  package-lock.json
Due: prettier --write

chore(deps-dev): Bump @types/react from 16.9.45 to 16.9.46
  package-lock.json
Due: prettier --write

fix: Missing Head component in _document
  pages/_document.tsx
Due: prettier --write, eslint --fix

ci: Install Cypress terminal report
  cypress/plugins/index.js
  cypress/support/index.js
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

feat(db): Use nanoSQL as DB
  middlewares/with-db.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

refactor: Move middleware functions
  libs/middleware/index.ts
  libs/middleware/with-db.ts
  pages/api/auth/login.ts
  pages/api/auth/register.ts
Due: prettier --write, eslint --fix

feat(login): Load existing user from DB
  middlewares/with-db.ts
  pages/api/auth/login.ts
Due: prettier --write, eslint --fix

feat(register): Save new user to DB
  middlewares/with-db.ts
  pages/api/auth/register.ts
Due: prettier --write, eslint --fix

refactor: Extract validation of supported method
  libs/middleware/index.ts
  libs/middleware/validate-method.ts
  pages/api/auth/login.ts
  pages/api/auth/register.ts
Due: prettier --write, eslint --fix

feat: Make validations with yup
  __tests__/libs/validate.spec.ts
  libs/middleware/index.ts
  libs/middleware/validate-body.ts
  libs/validate.ts
  libs/validation/index.ts
  libs/validation/login.ts
  libs/validation/register.ts
  package-lock.json
  package.json
  pages/api/auth/login.ts
  pages/api/auth/register.ts
Due: prettier --write, eslint --fix

refactor: Move typing to its own files
  libs/middleware/validate-body.ts
  libs/middleware/validate-method.ts
  libs/middleware/with-db.ts
  pages/api/auth/login.ts
  types/error.ts
  types/index.ts
  types/next-http-handler.ts
Due: prettier --write, eslint --fix

feat: Add authentication middleware
  libs/middleware/index.ts
  libs/middleware/with-authentication.ts
  package-lock.json
  package.json
  pages/api/auth/login.ts
  pages/api/auth/register.ts
  types/index.ts
  types/jwt-payload.ts
  types/next-http-handler.ts
  types/user.ts
Due: prettier --write, eslint --fix

fix(authentication): Update user typing
  __tests__/components/form/register.spec.tsx
  __tests__/pages/index.spec.tsx
  __tests__/pages/register.spec.tsx
  __tests__/services/login.spec.ts
  __tests__/services/register.spec.ts
  components/cards/user/index.tsx
  components/forms/register/index.tsx
  components/hoc/with-authentication.tsx
  cypress/integration/register.spec.ts
  hooks/user-context.tsx
  libs/request.ts
  services/login.ts
  services/register.ts
  types/user.ts
Due: prettier --write, eslint --fix

feat(todo): Create a new todo
  libs/middleware/with-db.ts
  libs/validation/index.ts
  libs/validation/todo.ts
  package-lock.json
  package.json
  pages/api/todos/index.ts
  types/index.ts
  types/todo.ts
Due: prettier --write, eslint --fix

feat(todo): Get one todo by id
  libs/validation/todo.ts
  pages/api/todos/[id].ts
Due: prettier --write, eslint --fix

test(authentication): Use async test cases
  __tests__/pages/api/auth/login.spec.ts
  __tests__/pages/api/auth/register.spec.ts
  pages/api/auth/login.ts
  pages/api/auth/register.ts
Due: prettier --write, eslint --fix

refactor(db): Extract DB config to its file
  libs/db.ts
  libs/middleware/with-db.ts
Due: prettier --write, eslint --fix

test(authentication): Property based testing
  __tests__/pages/api/auth/login.spec.ts
  __tests__/pages/api/auth/register.spec.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

refactor(jwt): Move JWT functions to separate file
  libs/jwt.ts
  pages/api/auth/login.ts
  pages/api/auth/register.ts
Due: prettier --write, eslint --fix

test(todos): Unit test CRUD API
  __tests__/pages/api/todos.spec.ts
  libs/db.ts
Due: prettier --write, eslint --fix

fix(authentication): Amend middleware
  .env.example
  .github/workflows/e2e-test.yml
  .github/workflows/unit-test.yml
  __tests__/libs/middleware/with-authentication.spec.ts
  jest.config.js
  libs/middleware/with-authentication.ts
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

fix: Lint error in tests
  __tests__/.eslintrc.json
  __tests__/pages/register.spec.tsx
  package-lock.json
  package.json
Due: prettier --write, eslint --fix

chore(package): Update dependencies
  package-lock.json
  package.json
Due: prettier --write

fix(authentication): Amend error responses
  libs/middleware/validate-body.ts
  pages/api/auth/login.ts
  pages/api/auth/register.ts
Due: prettier --write, eslint --fix

ci(vercel): Deploy to vercel
  .gitignore
Due: none

feat(user): List users
  __tests__/pages/api/users.spec.ts
  pages/api/users/index.ts
Due: prettier --write, eslint --fix

feat(user): fetch users
  __tests__/services/list-user.spec.ts
  services/index.ts
  services/list-user.ts
Due: prettier --write, eslint --fix

feat(api-client): Improve error handling
  __tests__/services/login.spec.ts
  __tests__/services/register.spec.ts
  libs/request.ts
  types/error.ts
Due: prettier --write, eslint --fix

feat(user): Load users in a datatable
  pages/index.tsx
Due: prettier --write, eslint --fix

refactor(api-client): Move under `libs` directory
  __tests__/libs/api-client/list-user.spec.ts
  __tests__/libs/api-client/login.spec.ts
  __tests__/libs/api-client/register.spec.ts
  __tests__/pages/api/auth/login.spec.ts
  __tests__/pages/api/auth/register.spec.ts
  components/forms/login/index.tsx
  hooks/auth-context.tsx
  libs/api-client/index.ts
  libs/api-client/list-user.ts
  libs/api-client/login.ts
  libs/api-client/register.ts
  pages/index.tsx
  types/auth.ts
  types/index.ts
Due: prettier --write, eslint --fix

feat(authentication): Close session
  __tests__/pages/api/auth/logout.spec.ts
  libs/api-client/index.ts
  libs/api-client/logout.ts
  libs/request.ts
  pages/api/auth/logout.ts
Due: prettier --write, eslint --fix

feat(authentication): Get session user
  __tests__/pages/api/auth/me.spec.ts
  pages/api/auth/me.ts
Due: prettier --write, eslint --fix
